.table {
    margin-top: 1.5rem;
    width: 100%;
    background-image: url("../../../assets/Icons/ipoLowOpacity.png");
    background-repeat: no-repeat;
    background-position: center center;
    height: 70vh;
    overflow: auto;
}

.table table {
    width: 100%;
}

#table-body {
    position: relative;
    height: 100%;
}

#table-header>tr {
    color: #6B6B6B;
}

#table-body>tr {
    margin-top: 1.5rem;
}

#table-header>tr,
#table-body>tr {
    padding: 5rem;
}

#table-header>tr td,
#table-body>tr td {
    text-align: center;
}

#table-header tr td i {
    font-size: 12px;
    margin-left: 5px;
    transform: translateY(-2px);
}

#table-header tr td,
#table-body tr td {
    width: fit-content;
}

#table-body .examiner-body > td  {
    font-size: 13px;
    font-family: 'poppins';
}

#table-body tr td:last-child img {
    width: 35px;
    height: 35px;
}

#viewbtn{
    background-color: rgb(110, 210, 110);
    outline: none;
    width: 60px;
    color: white;
    border: none;
    transition: all 0.1s ease-in-out;
    height: 40px;
    border-radius: 8px;
    font-weight: bold;
    
    
}

#viewbtn:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid green;
    color: green;

}

.register {
    border: 2px solid #44A6E9;
    color: #44A6E9;
    background-color: white;
}

.pending {
    background-color: #f39d12c6;
    color: black;
}

.decline {
    background-color: rgb(235, 34, 34);
    color: white;
}

.register,
.pending,
.decline {
    font-size: 12px;
    border-radius: 8px;
    height: fit-content;
    padding: 5px;
    width: fit-content;
}

.table>.ipo_img {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */

}

.table>.ipo_img img {
    opacity: 0.2;
}