.Dashboard-Section{
    width: 98.7vw;
    height: fit-content;
    background-color: ivory;
    display: flex;
}

.left-Subsection{
    width: 15.5vw;
    height: 98.8vh;
    padding: 0.6vh 0.3vw;
    position: fixed;
}

.right-Subsection{
    width: 85vw;
    margin-left: 16.1vw;
    padding: 0vh 0.5vw;
    height: fit-content;
    box-sizing: border-box;
    font-family: Poppins;
}

.screenContent {
    min-height: calc(100vh - 10.15vh);
    box-sizing: border-box;
    margin-top: 10.15vh;
}

.header {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 82.9%;
    margin: auto;
    position: fixed;
    background-color: #fffcf4;
    z-index: 100;
}

.header .title,
.header .profile {
    display: flex;
}

.profile{
    /* margin-right:20px ; */
    transform: translateX(-15px);
}

.title img{
    width: 15px;
    height: 15px;
}

.profile img {
    width: 22px;
    height: 22px;
}

.profile img:hover{
    cursor: pointer;

}

.title img {
    filter: invert(50%);
}

.title p,
.user-profile p:first-child {
    font-size: 17px;
    margin-left: 7px;

}

.title p {
    color: rgba(132, 129, 138, 0.77);
}

.user-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 4px;
}

.user-profile p {
    margin: -3px 0 -3px 10px;
}

.user-profile p:last-child {
    font-size: 10px;
    color: rgba(132, 129, 138, 0.77);
    margin-top: 2px;
}


.title,
.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}