:root {
    --gray: #6B6B6B;
    --lightgray: #84818A;
}

.Registration-Flow {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: 0.18rem;
    padding-bottom: 0.3rem;
    height: 100%;
    padding-left: 0.23rem;
    padding-right: 0.23rem;
}

.Registration-Flow>section {
    width: 74%;
}

.Registration-Flow aside {
    width: 26%;
    box-shadow: 0px 0px 4px 1px rgba(185, 185, 185, 0.384);
    background-color: white;
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}

strong {
    color: red;
}