body {
  margin: 0;
  line-height: normal;
}

:root {
  --color-gainsboro: #dee4df;
  --color-silver: #afc6c4;
  --color-white: #fff;
}

.sidebar {
  background-color: #036666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  font-family: Poppins;
}

.sidebar a {
  color: var(--color-gainsboro);
  text-decoration: none;
}

.sidebar-header {
  display: flex;
  align-items: center;
}

.sidebar-header img {
  height: 7.5vw;
}

.sidebar-header b {
  color: var(--color-white);
  font-size: 1rem;
}

.menu-heading {
  color: var(--color-gainsboro);
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 1.5vw;
  margin-top: 4vh;
  font-size: 0.8rem;
}

.menu-items-container {
  margin-top: 6vh;
}

.menu-item-dashboard {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 0.820rem;
  margin-bottom: 2vh;
  padding-left: 0.66vw;
  border-left: #fec600 solid 4px;
}

.menu-item {
  display: flex;
  align-items: center;
  color: var(--color-white);
  font-size: 0.820rem;
  margin-bottom: 2vh;
  padding-left: 1vw;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item img, .menu-item-dashboard img {
  width: 15px;
  height: 15px;
  margin-top: 0.8vh;
  filter: invert(100%);
}

.lower-menu-container {
  margin-bottom: 4vh;
}

.hr-element {
  border: none;
  height: 0.1vh;
  color: white;
  background-color: white;
  position: relative;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
}

.lower-item, .lower-item2 {
  display: flex;
  align-items: center;
  color: var(--color-gainsboro);
  gap: 0.5vw;
  margin-bottom: -2vh;
  margin-left: 1vw;
}

.lower-item img {
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.lower-item2 img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-left: 0.01vw;
}

.lower-item p, .lower-item2 p {
  font-size: 0.820rem;
  font-family: Poppins;
  cursor: pointer;
}

.lower-item2 p {
  margin-left: 0.17vw;
}

.lower-item div {
  display: flex;
  align-items: center;
  gap: 0.5vw;
}

.title {
  font-size: 0.9rem;
}